<router-outlet></router-outlet>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/altaAlumno"><b>AltaAlumno</b>  |  <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/buscarAlumno"> <b> MostrarAlumnos</b>  |  </a>
      <a class="nav-item nav-link" routerLink="/altaMateria"> <b> AltaMateria</b>  |  </a>
      <a class="nav-item nav-link" routerLink="/buscarMateria"> <b> MostrarMaterias</b>  |  </a>
      <a class="nav-item nav-link" routerLink="/altaCalificacion"> <b> AltaCalificacion</b>  |  </a>
      <a class="nav-item nav-link" routerLink="/buscarCalificacion"> <b> BuscarCalificacionIdAlumno</b>  |  </a>
     
    </div>
  </div> 