<router-outlet></router-outlet>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/altaAlumno">AltaAlumno  |  <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/buscarAlumno">  BuscarAlumno  |  </a>
      <a class="nav-item nav-link" routerLink="/altaMateria">  AltaMateria  |  </a>
      <a class="nav-item nav-link" routerLink="/buscarMateria">  BuscarMateria  |  </a>
      <a class="nav-item nav-link" routerLink="/altaCalificacion">  AltaCalificacion  |  </a>
      <a class="nav-item nav-link" routerLink="/buscarCalificacion">  BuscarCalificacion  |  </a>
     
    </div>
  </div> 