<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Actualizar Calificacion <span class="req"><small></small></span></legend>

                    <div class="form-group">
                        <label for="Name"><span class="req">* </span> Alumno: <small></small> </label>
                        <select class="form-control" placeholder="Escoja Alumno" name="nombre" id="name" [(ngModel)]="cal.idUsuario" id="txt" required>
                            <option [ngValue]="objeto.idUsuario" *ngFor="let objeto of alumnos">{{objeto.nombre}}</option>
                        </select>  
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="firstname"><span class="req">* </span> Materia: </label>
                        <select class="form-control" placeholder="Escoja materia"  name="usuario" id="name" [(ngModel)]="cal.idMateria" id="txt" required>
                            <option [ngValue]="mat.idMateria" *ngFor="let mat of materias">{{mat.nombre}}</option>
                        </select>  
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="lastname"><span class="req">* </span> Calificacion: </label>
                        <input class="form-control" type="text" [(ngModel)]="cal.calificacion"  name="calificacion" id="txt"
                            placeholder="Introduzca calificacion" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Fecha Registro: </label>
                        <input class="form-control" required type="date" [(ngModel)]="cal.fecha_registro" name="fecha_registro"
                            id="fecha_registro" placeholder="fecha_registro"  />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Actualizar" (click)="udateNow()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>
<br>
<br>

